<div class="col-sm-3 dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    類別
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item">家居物業</li>
    <li class="dropdown-item">交通出行</li>
    <li class="dropdown-item">休閒娛樂</li>
    <li class="dropdown-item">餐飲食品</li>
    <li class="dropdown-item">其他</li>
  </ul>
</div>