<div class="col-sm-3">
  <select id="dropdown-menu" class="menu form-control" name="categoryId">
    {{! 使用 option 標籤定義下拉菜單的選項 }}
    <option value="0">Select</option>
    <option value="1">家居物業</option>
    <option value="2">交通出行</option>
    <option value="3">休閒娛樂</option>
    <option value="4">餐飲食品</option>
    <option value="5">其他</option>
  </select>
</div>