{{#if success_msg}}
  <div
    style="background-color: rgb(81, 207, 102); padding: 3px;"
  >{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
  <div
    style="background-color: rgb(253, 81, 93); padding: 3px;"
  >{{error_msg}}</div>
{{/if}}