<form class="container mt-5">
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">*必填欄位</label>
        <div class="col-sm-3 col-form-label">
            <span class="title">請修改你的支出</span>
        </div>
    </div> 
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">名稱*:</label>
        <div class="col-sm-3">
            <input 
            type="text" 
            class="form-control" 
            id="inputName" 
            value="{{#if record}}{{record.name}}{{/if}}"
            required />
        </div>
    </div>     
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">日期*:</label>
        <div class="col-sm-3">
            <input 
            type="date" 
            name="date" 
            class="form-control" 
            id="date" 
            min="1900-01-01" 
            max="2100-12-31" 
            value="{{#if record}}{{record.date}}{{/if}}"
            required />
        </div>
    </div>  
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">類別*:</label>
        {{!-- 類別下拉選單 --}}
        {{> category}}
    </div>  
    <div class="row mb-3">
        <label for="inputAmount" class="col-sm-2 col-form-label">金額*:</label>
        <div class="col-sm-3">
            <input 
            type="number" 
            class="form-control" 
            id="inputAmount" 
            min="0" 
            value="{{#if record}}{{record.amount}}{{/if}}"
            required />
        </div>
    </div> 
    <div class="row mb-3">
        <label for="inputAmount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-3">   
            <button type="submit" class="btn btn-primary">送出</button>
        </div>
    </div>
</form>