<form class="container mt-5">
  <div class="row mb-3">
    <label for="inputName" class="col-sm-2 col-form-label">*必填欄位</label>
    <p>請輸入你的支出</p>
  </div>
  <div class="row mb-3">
    <label for="inputName" class="col-sm-2 col-form-label">名稱*:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputName" required />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputName" class="col-sm-2 col-form-label">日期*:</label>
    <div class="col-sm-3">
      <input
        type="date"
        name="date"
        class="form-control"
        id="date"
        min="1900-01-01"
        max="2100-12-31"
        value="{{date}}"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputName" class="col-sm-2 col-form-label">類別*:</label>
    {{! 類別下拉選單 }}
    <div class="col-sm-3 dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputAmount" class="col-sm-2 col-form-label">金額*:</label>
    <div class="col-sm-3">
      <input
        type="number"
        class="form-control"
        id="inputAmount"
        min="0"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputAmount" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">新增支出</button>
    </div>
  </div>
</form>